.subtitulo{
    font-size: 30px;
    font-weight: bold;
}
.logotipo{
    width: 8%;
}

.logotipo2{
    width: 10%;
}

/* En tu archivo CSS */
.card {
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    /* Otros estilos de tu elección */
}
.barra{
    margin-top: 10px;
    
}

.navbar{
    background-color: rgb(76, 224, 247);
}


@media screen and (max-width:768px) {
    .logoprincipal{
        display: flex;
        justify-content: center;
    }
    .logotipo{
        width: 300px;
    }
}